

@font-face {
    font-family: 'Ruqaa';
    src: url('public/fonts/ruqaa/ArefRuqaaInk-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Gasoek';
    src: url('../fonts/GasoekOneLatin/GasoekOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Felidae';
    src: url('../fonts/Felidae/Felidae.ttf') format('truetype');
}
@font-face {
    font-family: 'Nodles';
    src: url('../fonts/Nodles/Super-Noodles.otf') format('truetype');
}
@font-face {
    font-family: 'Grotesk';
    src: url('../fonts/Grotesk/Ridley Grotesk Regular.otf') format('truetype');
}



/* Estilos para pantallas extra pequeños (XM) */
@media (max-width: 575px) {
    .title{ font-size:calc(2.5rem + 0.5vw) !important }
    #typed-container-1 { font-size: calc(0.9rem + 0.5vw) !important }
    .btn-style1{ font-size: 12px !important }
    p, ul {
        color: black;
        font-size: calc(0.9rem + 0.5vh) !important;
    }
}

/* Estilos para pantallas pequeños (SM) */
@media (min-width: 576px) {
    .title{ font-size:calc(2.5rem + 0.5vw) !important }
    #typed-container-1{font-size: calc(0.9rem + 0.5vw) !important }
    .btn-style1{ font-size: 12px !important }
    p, ul {
        color: black;
        font-size: calc(0.9rem + 0.5vh) !important;
    }
}

/* Estilos para pantallas medianos (MD) */
@media (min-width: 768px) {
    .title{ font-size: calc(3.5rem + 0.5vw) !important }
    #typed-container-1 { font-size: calc(1.3rem + 0.5vw) !important }
    .btn-style1{ font-size: 16px !important }
    p, ul {
        color: black;
        font-size: calc(1rem + 0.5vh) !important;
    }
}


/* Estilos para pantallas grandes (LG) */
@media (min-width: 992px) {
    .title{ font-size: calc(4rem + 0.5vw) !important }
    #typed-container-1{ font-size: calc(1.4rem + 0.5vw) !important }
    .btn-style1{ font-size: 16px !important }
    p, ul {
        color: black;
        font-size: calc(1.1rem + 0.5vh) !important;
    }
}

/* Estilos para pantallas extra grandes (XL) */
@media (min-width: 1200px) {
    .title{ font-size: calc(4.3rem + 0.5vw) !important }
    #typed-container-1{ font-size: calc(1.3rem + 0.5vw) !important }
    .btn-style1{ font-size: 16px !important }
    p, ul {
        color: black;
        font-size: calc(1.1rem + 0.5vh) !important;
    }
  }
  
/* Estilos para pantallas extra extra grandes (XXL) */
@media (min-width: 1400px) {
    .title{ font-size: calc(5rem + 0.5vw) !important }
    #typed-container-1{ font-size: calc(1.5rem + 0.5vw) !important }
    .btn-style1{ font-size: 16px !important }
    p, ul {
        color: black;
        font-size: calc(1.1rem + 0.5vh) !important;
    }
}


  

body{
    font-family: 'Grotesk';
}

:root {
    --fs-sm: 14px; /* Tamaño de fuente pequeño */
    --fs-md: 16px; /* Tamaño de fuente mediano */
    --fs-lg: 18px; /* Tamaño de fuente grande */
    --fs-xl: 20px; /* Tamaño de fuente extra grande */
}

.mt-50{ margin-top: 50px }
.mt-60{ margin-top: 60px }
.mt-70{ margin-top: 70px }
.mt-80{ margin-top: 80px }

.min-vh-100{
    min-height: 100vh;
}

#section-presentacion{
    min-height: 100%;
    background: url(../images/background/bg2_1080p.png) rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

.background-image {
    position: relative; /* Asegura que el contenido superpuesto esté posicionado correctamente */
}

.color-pw-1{
    color: #ea2d66 !important;
}
.color-pw-2{
    color: #2566ca !important
}

.svg-image {
    width: 70px;
    height: auto;
    transition: transform 0.5s; 
}

.svg-image-45 {
    width: 45px;
    height: auto;
    transition: transform 0.5s; 
}


.svg-image:hover img {
    transform: scale(1.03);
}

/* Sombreado del contnedor div de portafolios un poco mas resaltado  */
.svg-image:hover{
    box-shadow: 0 .2rem .3rem rgba(0,0,0,.5)!important
}


.btn-close{
    font-size: 25px !important;
}

.close {
    color: #fff; 
    opacity: 1;
}


.card-skill{
    max-width: 100px;
}

.svg-container {
    width: 100px; /* Ajusta el ancho según sea necesario */
    height: 100px; /* Ajusta la altura según sea necesario */
}


.typed-cursor{
    color: white !important;
}
.background-image::before {
    content: ''; /* Obligatorio para que el pseudo-elemento sea visible */
    position: absolute; /* Permite posicionar el pseudo-elemento sobre la imagen de fondo */
    top: 0; /* Coloca el pseudo-elemento en la parte superior de la imagen de fondo */
    left: 0; /* Coloca el pseudo-elemento en la parte izquierda de la imagen de fondo */
    width: 100%; /* Ajusta el ancho del pseudo-elemento al 100% del contenedor */
    height: 100%; /* Ajusta la altura del pseudo-elemento al 100% del contenedor */
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente (en este caso, negro con una opacidad del 50%) */
}



.title{
    font-family: 'Grotesk';
    color: white;
    font-weight: 800;
}



#typed-container-1,
#typed-container-2,
#typed-container-3{
    display: inline-block;
    color: white !important;
}

.vh-75{
    height: 75vh;
}
.modal-fullscreen-image {
    max-height: 75vh;
    background: #dee2e6;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -1px;
}

.modal-fullscreen-image-100 {
    /* max-height: 100%; */
    height: 75vh;
    background: #dee2e6;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -1px;
}

.fixed-label{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1030;
}

.fixed-label-bg{
    background: #1d1c1cd6 !important;
}

.ul-2 {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.ul-3 {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.tag-html{
    --bs-bg-opacity:1;
    color:white;
    background-color:#e54d26;
}

.tag-js{
    --bs-bg-opacity:1;
    color:white;
    background-color:#ffcc00;
}

.tag-laravel{
    --bs-bg-opacity:1;
    color:white;
    background-color:#ee605d;
}

.tag-php{
    --bs-bg-opacity:1;
    color:white;
    background-color:#787cb4;
}

.tag-mysql{
    --bs-bg-opacity:1;
    color:white;
    background-color:#08668e;
}

.tag-mongo{
    --bs-bg-opacity:1;
    color:white;
    background-color:#55ad47;
}

.tag-express{
    --bs-bg-opacity:1;
    color:white;
    background-color:#ffcc00;
}

.tag-vue{
    --bs-bg-opacity:1;
    color:#3a4f63;
    background-color:#47ba87;
}

.tag-react{
    --bs-bg-opacity:1;
    color:white;
    background-color:#09d9ff;
}


.tag-node{
    --bs-bg-opacity:1;
    color:white;
    background-color:#77ae69;
}


.tag-excel{
    --bs-bg-opacity:1;
    color:white;
    background-color:#0b7f41;
}

.tag-vba{
    --bs-bg-opacity:1;
    color:white;
    background-color:#464646;
}


.text-justify{
    text-align: justify !important;
}




/* Contenedor principal de Fancybox, se pone z-index para que quede por encima del modal bootstrap  */
.fancybox__container{
    z-index: 2000 !important;
}



/* Boton Bootstrap personalizado  */
    .btn-style1{
        border: 1px solid white;
        border-radius: 0px !important;
        box-shadow: 0 0 3px rgba(0,0,0,0.5);
    }

    /* Estilo personalizado para la animación (hacer clic al boton) */
    .fade-in {
        animation: fadeIn 0.5s ease-in-out forwards;
    }
    .fade-out {
        animation: fadeOut 0.5s ease-in-out forwards;
    }
    @keyframes fadeIn {
        m { ofropacity: 0; }
        to { opacity: 1; }
    }
    @keyframes fadeOut {
        from { opacity: 1; }
        to { opacity: 0; }
    }
/* ----------------------- ------------------ */


.btn-style2{
    border-radius: 20px !important;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    font-size: 0.8em;
}

.btn-circle.btn-xl {
    width: 43px;
    height: 43px;
    padding: 7px 7px;
    border-radius: 35px;
   
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 25px;
    line-height: 1.42857;
}

.btn-style3{
    --bs-btn-padding-x: 0.2rem;
    --bs-btn-padding-y:1rem;
}


.h-overflow{
    overflow: hidden !important;
}
/* Animacion de escalado a las imagenes de cada elemento del portafolio  */
.card {
    overflow: hidden;
}
.card img {
    transition: transform 0.5s; 
}
.card:hover img {
    transform: scale(1.03);
}

/* Sombreado del contnedor div de portafolios un poco mas resaltado  */
.card:hover{
    box-shadow: 0 .2rem .3rem rgba(0,0,0,.5)!important
}

.d-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}


.no-scrollbar{
    scrollbar-width: none !important;
}