

@font-face {
    font-family: 'Ruqaa';
    src: url('public/fonts/ruqaa/ArefRuqaaInk-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Gasoek';
    src: url('../fonts/GasoekOneLatin/GasoekOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Felidae';
    src: url('../fonts/Felidae/Felidae.ttf') format('truetype');
}
@font-face {
    font-family: 'Nodles';
    src: url('../fonts/Nodles/Super-Noodles.otf') format('truetype');
}
@font-face {
    font-family: 'Grotesk';
    src: url('../fonts/Grotesk/Ridley Grotesk Regular.otf') format('truetype');
}



/* Estilos para pantallas extra pequeños (XM) */
@media (max-width: 575px) {
    .title{ font-size:calc(2.5rem + 0.5vw) !important }

    #typed-container-1,
    .typed-cursor { font-size: calc(0.9rem + 0.5vw) !important }

    .btn-style1{ font-size: 12px !important }

    p, ul {
        color: black;
        font-size: calc(0.7rem + 0.5vh) !important;
    }
}

/* Estilos para pantallas pequeños (SM) */
@media (min-width: 576px) {
    .title{ font-size:calc(2.5rem + 0.5vw) !important }

    #typed-container-1,
    .typed-cursor {font-size: calc(0.9rem + 0.5vw) !important }

    .btn-style1{ font-size: 12px !important }

    p, ul {
        color: black;
        font-size: calc(0.7rem + 0.5vh) !important;
    }
}

/* Estilos para pantallas medianos (MD) */
@media (min-width: 768px) {
    .title{ font-size: calc(3.5rem + 0.5vw) !important }

    #typed-container-1, 
    .typed-cursor { font-size: calc(1.3rem + 0.5vw) !important }

    .btn-style1{ font-size: 16px !important }

    p, ul {
        color: black;
        font-size: calc(1rem + 0.5vh) !important;
    }
}


/* Estilos para pantallas grandes (LG) */
@media (min-width: 992px) {
    .title{ font-size: calc(4rem + 0.5vw) !important }

    #typed-container-1, 
    .typed-cursor { font-size: calc(1.4rem + 0.5vw) !important }

    .btn-style1{ font-size: 16px !important }

    p, ul {
        color: black;
        font-size: calc(1.1rem + 0.5vh) !important;
    }
}

/* Estilos para pantallas extra grandes (XL) */
@media (min-width: 1200px) {
    .title{ font-size: calc(4.3rem + 0.5vw) !important }

    #typed-container-1,
    .typed-cursor { font-size: calc(1.3rem + 0.5vw) !important }

    .btn-style1{ font-size: 16px !important }

    p, ul {
        color: black;
        font-size: calc(1.1rem + 0.5vh) !important;
    }
  }
  
/* Estilos para pantallas extra extra grandes (XXL) */
@media (min-width: 1400px) {
    .title{ font-size: calc(5rem + 0.5vw) !important }

    #typed-container-1, 
    .typed-cursor { font-size: calc(1.5rem + 0.5vw) !important }

    .btn-style1{ font-size: 16px !important }
    
    p, ul {
        color: black;
        font-size: calc(1.1rem + 0.5vh) !important;
    }
}

@media (max-width: 767px) {
    .no-sm-bottom {
      position: static !important;
      bottom: auto !important;
    }
}


  

body{
    font-family: 'Grotesk';
}

:root {
    --fs-sm: 14px; /* Tamaño de fuente pequeño */
    --fs-md: 16px; /* Tamaño de fuente mediano */
    --fs-lg: 18px; /* Tamaño de fuente grande */
    --fs-xl: 20px; /* Tamaño de fuente extra grande */
}

.footer-dark{
    background-color: black !important;
}

.footer-black div span {
    color: #ffffff !important;
}
.mt-50{ margin-top: 50px }
.mt-60{ margin-top: 60px }
.mt-70{ margin-top: 70px }
.mt-80{ margin-top: 80px }

.min-vh-100{
    min-height: 100vh;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background:  rgb(0, 0, 0);
    opacity: 1;
}

.row-loader{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}

#lottie-container {
    width: 300px; 
    height: 300px; 
}

#section-presentacion{
    min-height: 100%;
    background: url(../images/background/bg2_1080p.png) rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

.background-image {
    position: relative; /* Asegura que el contenido superpuesto esté posicionado correctamente */
}

.color-pw-1{
    color: #ea2d66 !important;
}
.color-pw-2{
    color: #2566ca !important
}
.color-pw-3{
    color: #5fa2dc !important
}


.svg-image {
    width: 70px;
    height: auto;
    transition: transform 0.5s; 
}

.svg-image-45 {
    width: 45px;
    height: auto;
    transition: transform 0.5s; 
}


.svg-image:hover img {
    transform: scale(1.03);
}

/* Sombreado del contnedor div de portafolios un poco mas resaltado  */
.svg-image:hover{
    box-shadow: 0 .2rem .3rem rgba(0,0,0,.5)!important
}

.btn-close{
    font-size: 25px !important;
}

.close {
    color: #fff; 
    opacity: 1;
}


.card-skill{
    max-width: 100px;
}

.svg-container {
    width: 100px; 
    height: 100px;
}

.background-image::before {
    content: ''; /* Obligatorio para que el pseudo-elemento sea visible */
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
}

.title{
    font-family: 'Grotesk';
    color: white;
    font-weight: 800;
}

#typed-container-1,
#typed-container-2,
#typed-container-3{
    display: inline;            /**Importante, para que el typed-cursor no haga saltos de linea al terminar la fila de animacion de escritura  */
    color: white !important;
}

.typed-cursor{
    color: white !important;
}

.vh-75{
    height: 75vh;
}
.modal-fullscreen-image {
    max-height: 75vh;
    background: #dee2e6;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -1px;
}

.modal-fullscreen-image-100 {
    /* max-height: 100%; */
    height: 75vh;
    background: #dee2e6;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -1px;
}

.fixed-label{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1030;
}

.fixed-label-bg{
    background: #1d1c1cd6 !important;
}

.ul-2 {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.ul-3 {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.tag-html{
    --bs-bg-opacity:1;
    color:white;
    background-color:#e54d26;
}

.tag-js{
    --bs-bg-opacity:1;
    color:white;
    background-color:#ffcc00;
}

.tag-laravel{
    --bs-bg-opacity:1;
    color:white;
    background-color:#ee605d;
}

.tag-php{
    --bs-bg-opacity:1;
    color:white;
    background-color:#787cb4;
}

.tag-mysql{
    --bs-bg-opacity:1;
    color:white;
    background-color:#08668e;
}

.tag-mongo{
    --bs-bg-opacity:1;
    color:white;
    background-color:#55ad47;
}

.tag-express{
    --bs-bg-opacity:1;
    color:white;
    background-color:#ffcc00;
}

.tag-vue{
    --bs-bg-opacity:1;
    color:#3a4f63;
    background-color:#47ba87;
}

.tag-react{
    --bs-bg-opacity:1;
    color:white;
    background-color:#09d9ff;
}


.tag-node{
    --bs-bg-opacity:1;
    color:white;
    background-color:#77ae69;
}


.tag-excel{
    --bs-bg-opacity:1;
    color:white;
    background-color:#0b7f41;
}

.tag-vba{
    --bs-bg-opacity:1;
    color:white;
    background-color:#464646;
}


.text-justify{
    text-align: justify !important;
}




/* Contenedor principal de Fancybox, se pone z-index para que quede por encima del modal bootstrap  */
.fancybox__container{
    z-index: 2000 !important;
}



/* Boton Bootstrap personalizado  */
    .btn-style1{
        border: 1px solid white;
        border-radius: 0px !important;
        box-shadow: 0 0 3px rgba(0,0,0,0.5);
    }

    /* Estilo personalizado para la animación (hacer clic al boton) */
    .fade-in {
        animation: fadeIn 0.5s ease-in-out forwards;
    }
    .fade-out {
        animation: fadeOut 0.5s ease-in-out forwards;
    }
    @keyframes fadeIn {
        m { ofropacity: 0; }
        to { opacity: 1; }
    }
    @keyframes fadeOut {
        from { opacity: 1; }
        to { opacity: 0; }
    }
/* ----------------------- ------------------ */


.btn-style2{
    border-radius: 20px !important;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    font-size: 0.8em;
}

.btn-circle.btn-xl {
    width: 43px;
    height: 43px;
    padding: 7px 7px;
    border-radius: 35px;
   
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 25px;
    line-height: 1.42857;
}

.btn-style3{
    --bs-btn-padding-x: 0.2rem;
    --bs-btn-padding-y:1rem;
}


.h-overflow{
    overflow: hidden !important;
}
.auto-overflow{
    overflow: visible !important;
}

/* Animacion de escalado a las imagenes de cada elemento del portafolio  */
.card {
    overflow: hidden;
}
.card img {
    transition: transform 0.5s; 
}
.card:hover img {
    transform: scale(1.03);
}

/* Sombreado del contnedor div de portafolios un poco mas resaltado  */
.card:hover{
    box-shadow: 0 .2rem .3rem rgba(0,0,0,.5)!important
}

.d-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}


.no-scrollbar{
    scrollbar-width: none !important;
}




.image-container {
    position: relative;
    display: inline-block;
}
  
.play-icon-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
/* Ajusta el tamaño del ícono de reproducción según tus necesidades */
.bi-youtube {
    font-size: 5em;
    color: #ff0000; /* Puedes cambiar el color según tu preferencia */
 }
  
/* Cambia el color del borde cuando el cursor está sobre la imagen */
.image-link:hover .image-container img {
    border: 2px solid #ff0000; /* Cambia el color del borde según tu preferencia */
}




/* Boton Bootstrap personalizado (Linked In)  */
    .btn-linked {
        color: #fff;
        background-color: #198754;
        border-color: #198754;
    }

    .btn-linked:hover {
        color: #fff;
        background-color: #146c43;
        border-color: #11653e;
    }
  
    .btn-linked:focus,
    .btn-linked.focus {
        color: #fff;
        background-color: #146c43;
        border-color: #11653e;
        box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.5);
    }
  
    .btn-linked.disabled,
    .btn-linked:disabled {
        color: #fff;
        background-color: #198754;
        border-color: #198754;
    }
  
    .btn-linked:not(:disabled):not(.disabled):active,
    .btn-linked:not(:disabled):not(.disabled).active,
    .show > .btn-linked.dropdown-toggle {
        color: #fff;
        background-color: #11653e;
        border-color: #0d5f3e;
    }
  
    .btn-linked:not(:disabled):not(.disabled):active:focus,
    .btn-linked:not(:disabled):not(.disabled).active:focus,
    .show > .btn-linked.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.5);
    }
/* -------------------------------------------------------------  */